

<div class="form-section">
    <h3 class="section-title"><i class="fas fa-user"></i> Datos Generales</h3>
    <div class="form-grid">
        <div class="form-group">
            <label class="form-label">Nombre</label>
            <InputText class="form-input" @bind-Value="Student.First_Name" />
            <ValidationMessage For="@(() => Student.First_Name)" class="validation-errors" />
        </div>
        <div class="form-group">
            <label class="form-label">Segundo Nombre</label>
            <InputText class="form-input" @bind-Value="Student.Middle_Name" />
        </div>
        <div class="form-group">
            <label class="form-label">Apellido</label>
            <InputText class="form-input" @bind-Value="Student.Last_Name" />
            <ValidationMessage For="@(() => Student.Last_Name)" class="validation-errors" />
        </div>
        <div class="form-group">
            <label class="form-label">Género</label>
            <InputSelect class="form-input" @bind-Value="Student.StudentGender">
                @foreach (Student.Gender g in Enum.GetValues(typeof(Student.Gender)))
                {
                    <option value="@g">@g.ToString()</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => Student.StudentGender)" class="validation-errors" />
        </div>
    </div>
</div>

@code {
    [Parameter] public Student Student { get; set; } = new();
}
